body {
  color: white;
  background: linear-gradient(rgb(255, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(255, 255, 255) 100%);
  margin-left: 5%;
  margin-right: 5%;
  padding: 0%;
  text-align: center;
}

#pokedexA{
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.buscador{
  background-color: rgba(255, 255, 255, 0);
  border:none;
  position:fixed;
  bottom:60%;
  left:55.5%;
  width: 17.5%;
}

#btnbuscar{
  color: rgba(240, 248, 255, 0);
  border: rgba(255, 255, 255, 0);
  position: fixed;
  bottom: 28%;
  left:30%;
  width: 4.3%;
}

#btnrandom{
  color: rgba(240, 248, 255, 0);
  border: rgba(255, 255, 255, 0);
  position: fixed;
  bottom: 28%;
  left:35.2%;
  width: 4.3%;
}

#pokemon{
  width: 10%;
  position:fixed;
  bottom: 43%;
  left:31%;
}

#nombre1{
  position: fixed;
  bottom:19.5%;
  left:29.5%;
}
#nombre2{
  position: fixed;
  bottom:16%;
  left:29.5%;
}

#tipo1{
  position:fixed;
  width: 7%;
  bottom:17.3%;
  left:55.9%
}

#tipo2{
    position:fixed;
    width: 7%;
    bottom:17.3%;
    left:65.5%
}